In [ ]:
world = {"afghanistan":30.55,
         "albania":2.77,
         "algeria":39.21}

In [ ]:
world["albania"]

2.77

In [ ]:
world.keys()

dict_keys(['afghanistan', 'albania', 'algeria'])

In [ ]:
world.values()

dict_values([30.55, 2.77, 39.21])

In [ ]:
world["sealand"] = 0.000027
world

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21, 'sealand': 2.7e-05}

In [ ]:
"sealand" in world

True

In [ ]:
world["sealand"] = 0.000028
world

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21, 'sealand': 2.8e-05}

In [ ]:
del(world["sealand"])
world

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

In [ ]:
#DataFrame from Dictionary

dicti = {
    "country":["Brazil","Russia","India", "China", "South Africa"],
    "capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area":[8.516,17.10,3.286,9.597,1.221],
    "population":[200.4,143.5,1252,1357,52.98]
}

In [ ]:
import pandas as pd

In [ ]:
bricks = pd.DataFrame(dicti)

In [ ]:
bricks

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [ ]:
cars = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATACAMP/01. Data Scientist with Python/00.DATABASES/cars.csv", index_col=0)
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True

## **Index and select data**

In [ ]:
bricks = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DATACAMP/01. Data Scientist with Python/00.DATABASES/brics.csv", index_col = 0)
bricks

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
#Column Access []
bricks["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [ ]:
type(bricks["country"])
# 1D labelled array

pandas.core.series.Series

In [ ]:
bricks[["country"]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [ ]:
type(bricks[["country"]])

pandas.core.frame.DataFrame

In [ ]:
bricks[["country","capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [ ]:
#Row Access []
bricks[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
#Row Access with loc
bricks.loc["RU"]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [ ]:
bricks.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [ ]:
bricks.loc[["RU","IN","CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
bricks.loc[["RU","IN","CH"], ["country","capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [ ]:
bricks.loc[:, ["country","capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [ ]:
#Row Access iloc
bricks.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [ ]:
bricks.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [ ]:
bricks.loc[["RU","IN","CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
bricks.iloc[[1,2,3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
bricks.iloc[[1,2,3], [0,1]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [ ]:
bricks.iloc[:, [0,1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria